/* 移动端页面  初始化样式  By:shuaigeng.zhao ; */

html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer,pre {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width: 100%;
}
ul,li {
	list-style: none;
	list-style-type: none;
}

h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:.875em;}

textarea{
    resize:none;
}

input[type=text],input[type=password]{
	cursor:text;
}
i,em,cite {
	font-style:normal;
}
a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}
.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}

.clearfix{ *zoom: 1;}
.clearfix:after{ 
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

label input{
    vertical-align:middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td,table th {
    empty-cells:show;
}

button{
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
    text-transform: none;
    line-height: normal;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

a:active,
a:visited {
	text-decoration: none!important;
}

pre {
	display: block;
	white-space: pre-wrap;
    word-wrap: break-word;
    text-indent: 0;
    margin: 0;
    padding: 0;
}