body {
	color: #666;
	font-size: 13px;
}

pre {
	background: none;
	border: none;
}

.header-img-container {
	position: relative;
}

.img-above-text {
	position: absolute;
	bottom: 0;
	margin-left: 3%;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.changeList {
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;	
	border-bottom: 1px solid #ccc;
	width: 100%;
	top: 0;
	margin-bottom: 0;
}

.changeList a {
	color: #666;
	font-size: 15px;
}

.changeList li {
	width: 33%;
	display: inline-block;
	text-align: center;
	float: left;
	line-height: 40px;
}

.changeList li:last-child {
	width: 34%;
}

.changeList .current {
	position: relative;
}

.changeList .current a {
	color: #00adf1;
}

.changeList .current i {
	position: absolute;
	display: inline-block;
	bottom: -4px;
	left: 46%;
	background: url(../../../images/store/cruise/mobile/downArrow.gif) no-repeat;
	width: 9px;
	height: 4px;
	background-size: 100%;
	vertical-align: sub;
}

.changeList .current:after {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #00adf1;
	position: absolute;
	bottom: -1px;
	display: block;
}

.simpleInfo {
	padding: 25px 8px 5px 9px;
}

.dateIcon {
	display: inline-block;
	background: url(../../../images/store/cruise/mobile/date.gif) no-repeat;
	width: 15px;
	height: 16px;
	background-size: 100%;
	vertical-align: sub;
}

.chief .title {
	color: #999;
	padding-left: 2px;
}

.dateItem {
	float: left;
	margin-right: 7px;
	padding-top: 3px;
}

.dateBlock {
	width: 62%;
	float: left;
}

.priceBlock {
	float: right;
	width: 115px;
}

.priceCont {
	background-color: #ff702b;
	border-radius: 10px;
	height: 63px;
	width: 97%;
	color: #fff;
	text-align: center;
	padding: 0px 2px;
}

.priceCont .dateText {
	font-size: 15px;
	border-bottom: 1px dashed #fff;
	height: 30px;
	line-height: 30px;
}

.priceCont .priceText {
	font-size: 12px;
	height: 32px;
	line-height: 32px;
}

.priceCont .priceText b {
	font-weight: bold;
	font-size: 24px;
}

.penIcon {
	display: inline-block;
	background: url(../../../images/store/cruise/mobile/tag.gif) no-repeat;
	width: 16px;
	height: 16px;
	background-size: 100%;
	vertical-align: sub;
}

.cheapContText {
	color: #15b7f4;
	margin-top: 18px;
}

.cheapContText .chief {
	float: left;
	width: 60px;
	/*margin-top: 1px;*/
}

.cheapContText .chief .title {
	color: #15b7f4;
}

.cheapContText .cont {
	float: left;
	line-height: 20px;
	width: 80%;
}

.cheapContText .cont pre {
	color: #15b7f4;
}

.splitBar {
	width: 100%;
	height: 6px;
	background-color: #f0f0f0;
}

.cabinInfo {
	padding: 15px 8px 10px 9px;
}

.cabinRoomTitle {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
}

.cabinImgContainer {
	float: left;
	width: 49%;
}

.cabinContInfo {
	float: left;
	width: 50%;
}

.cabinContInfo th {
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
}

.cabinContInfo td {
	color: #333;
}

.verticalTop {
	vertical-align: top;
}

.blockModule .mainTitle {
	width: 100%;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	background-color: #f0f0f0;
	height: 36px;
	line-height: 36px;
	text-indent: 10px;
}

.tripDetailBody {
	padding: 15px 10px 0px 10px;
}

.leftNavDays {
	float: left;
	width: 35px;
	top: 45px;
}

.leftNavDays .dayContainer {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 18px;
	background-color: #cceefc;
	color: #2ab7f2;
	margin-bottom: 15px;

	display: inline-block;
	cursor: pointer;
}

.leftNavDays .dayContainer a {
	color: #2ab7f2;
}

.leftNavDays .dayContainer.current {
	color: #fff;
	background-color: #00a9f0;
}

.leftNavDays .dayContainer.current a {
	color: #fff;
}

.rightTripCont {
	float: right;
	width: 100%;
}

.dayHeaderTable {
	width: 100%;
}

.dayHeaderTable th {
	color: #999;
	line-height: 18px;
}

.dayHeaderTable th:first-child {
	font-size: 15px;
	color: #00a9f0;
	vertical-align: middle;
}

.dayHeaderTable td {
	text-align: center;
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

.dayHeader {
	padding-bottom: 8px;
	border-bottom: 1px dashed #d7d7d7;
}

.dayContDesc {
	text-indent: 26px;
	line-height: 18px;
	padding: 8px 0 6px;
}

.activeItems {
	padding: 5px 0 26px 0;
	line-height: 18px;
}

.dinnerIcon {
	display: inline-block;
	background: url(../../../images/store/cruise/mobile/tableware.gif) no-repeat;
	width: 10px;
	height: 15px;
	background-size: 100%;
	float: left;
	margin-right: 12px;
	vertical-align: sub;
}

.liveIcon {
	display: inline-block;
	background: url(../../../images/store/cruise/mobile/lamp.gif) no-repeat;
	width: 12px;
	height: 13px;
	background-size: 100%;
	float: left;
	margin-right: 10px;
	vertical-align: sub;
}

.activeCont {
	float: left;
	width: 91%;
}

.dayCont img {
	margin-bottom: 6px;
}

.priceInclude .subTitle,
.priceExclude .subTitle {
	color: #00acf1;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 0;
	text-indent: 10px;
}

.priceInclude {
	border-bottom: 1px solid #9cdae9;
}

.priceInclude pre, 
.priceExclude pre {
	padding: 0 10px;
	margin-bottom: 10px;
}

.footer {
	background-color: #59c8f7;
	color: #fff;
}

.footer .topTitle {
	padding: 10px 0;
	text-indent: 10px;
}

.cruiseIcon {
	display: inline-block;
	background: url(../../../images/store/cruise/mobile/whiteShip.gif) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 100%;
	vertical-align: sub;
	margin-right: 5px;
}

.footer .topTitle .titleText {
	font-size: 18px;
	font-weight: bold;
}

.footer .cont {
	padding: 0 10px 10px 10px;
	font-size: 15px;
	line-height: 22px;
}

.footer .cont .startDate {
	font-size: 17px;
	color: #ffff6a;
	padding: 5px 0;
}

.telBlock {
	position: fixed;
	width: 100%;
	/*margin-top: 10px;*/
	height: 100px;
	bottom: 10px;
}

.telPhoneIcon {
	background: url(../../../images/store/cruise/mobile/telPhone.gif) no-repeat;
	width: 64px;
	height: 64px;
	background-size: 100%;
	vertical-align: sub;
	position: absolute;
	left: 0;
	z-index: 3;
	top: 18px;
}

.telBlock .telCont {
	width: 85%;
	background-color: #ff6f28;
	border-radius: 20px;
	height: 100px;
	text-align: center;
	position: absolute;
	/*left: 32px;  show*/
	left: -100%;
}

.telBlock .telNum {
	height: 55px;
	line-height: 55px;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px dashed #ffaf87;
	width: 85%;
	margin: 0 auto;	
}

.telBlock .telNum a {
	color: #fff;
	text-decoration: none;
}

.telBlock .contact {
	height: 42px;
	line-height: 42px;
	font-size: 13px;
	width: 85%;
	margin: 0 auto;
}

.slideList{
	position: relative;
}

.navbar-nav .active em{
	display: inline-block;
	background-color: #00adf1;
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: -1px;
	left: 0%;
}

.navbar-nav .active i {
	position: absolute;
	display: inline-block;
	bottom: -4px;
	left: 46%;
	background: url(../../../images/store/cruise/mobile/downArrow.gif) no-repeat;
	width: 9px;
	height: 4px;
	background-size: 100%;
	vertical-align: sub;
}

.navbar-nav > .active > a:hover{
	background-color: transparent;
}


.navbar-nav .active .current-day{
	background-color: #00a9f0;
	color: #fff;
}